@import url(http://fonts.googleapis.com/css?family=Raleway:400,300)

html, body
  height: 100%

body
  padding: 0
  margin: 0
  font-family: 'Raleway'
  font-size: 0.93rem
  color: #fff
  background: #282828 url('../images/trainsnake_bg.png') repeat-y
  background-position: center top

.navigation
  max-width: 288px
  margin: 0 auto
  position: relative
  z-index: 2
  background: rgba(0,0,0,.4)
  box-shadow: 0 1px 2px rgba(255,255,255,.2)
  padding: 0.75rem 1rem
  span
    text-decoration: none
    color: #fff
    padding: 4px 0
    transition: color .3s ease
    i:before
      color: #00E2A7
      position: relative
      top: 3px
      font-size: 1.3rem
      margin-right: 5px
    &:hover
      color: #00E2A7

.intro, .game, .confirmation, .gameover, .thankyou
  height: 100%
  display: none
  opacity: 0
  &.active
    display: block
    transition: opacity .2s ease
    opacity: 1


.overlay
  position: absolute
  top: 0
  left: 50%
  z-index: 1
  height: 100%
  width: 320px
  margin-left: -160px
  background: rgba(0,0,0,.3)

.confirmation, .gameover, .thankyou
  .overlay
    background: rgba(0,0,0,.6)

.content
  position: relative
  box-sizing: border-box
  margin: 0 auto
  max-width: 320px
  z-index: 2
  padding: 0 1.5625rem

#scroll
  z-index: 100000
  position: fixed
  overflow: scroll
  -webkit-overflow-scrolling: touch
