h1, h2, h3
  margin: 0

h1
  font-size: 1.875rem
  line-height: 2.25rem
  font-weight: 300

h2
  font-size: 1.125rem
  line-height: 1.35rem

h3
  font-size: 0.93rem
  line-height: 1.25rem
  font-weight: 300
  margin-bottom: 1.8rem

.highlight
  color: #00e2a7
