.controls
  position: relative
  z-index: 2
  width: 280px
  margin: 0 auto
  padding: 0 20px
  .control
    display: inline-block
    width: 3.125rem
    height: 3.125rem
    font-size: 1.3rem
    line-height: 52px
    border: 1px solid #fff
    border-radius: 50%
    text-decoration: none
    text-align: center
    margin-left: 12px
    color: #fff
    cursor: pointer
    &.icon-arrow-down

    &.icon-arrow-right

    &.icon-arrow-left

    &.icon-rotate
      position: relative
      text-indent: 2px
      top: 5px
      background: #fff
      color: #6f9c17
      font-size: 36px
      line-height: 50px
